<%-include('../include/header.ejs') %>
<link rel="stylesheet" href="/css/homePage.css">
</head>

<body>
  <%-include('../include/navigation.ejs') %>
  <h1>Welcome</h1>

<%-include('../include/footer.ejs') %>
